/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
*/

html {
    font-size: 62.5%;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:papayawhip;
}


header {
    background-color: #48bbe1;
    height: 100%;
}

header h1 {
    padding: 3%;
    font-size: 3.2em;
}
.topflex {
    display:flex;
    margin-left: 4%; 
    max-width: 80%;  
}

.topflex a {
    text-decoration: none;
    color: #393939;
    background-color: #cbcbcb;
    margin-bottom: 2%;
    min-width: 8%;
    text-align: center;
    font-size: 1.2em;
    border: 2px solid black;
    padding: .6%;
    letter-spacing: 2px;
}

.topflex a:hover {
    background-color: #393939;
    color: white;
}

.flexbox {
    display:flex;
    margin-top: 2%;
    margin-left: 2%;
   
}

.flexbox img {
    width: 43%;
    padding: 2%;
}

.flexbox .name {
    padding: 4%;   
}

.flexbox h2 {
    font-size: 2em;
    padding-bottom: 2%;
}

button {
    font-size: 1.2em; 
    margin-top: 2%;
    margin-bottom: 3%;   
}

.flexbox p {
    font-size: 1.5em;
    padding-bottom: 5%;
    font-weight: 300;
    letter-spacing: .7px;
    line-height: 120%;

}

.flexbox2 {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.flexbox2 .phototext {
   width: 180px;
}

.flexbox2 .phototext img {
    max-width: 100px;
}

.flexbox2 p {
    font-size: 1.5em;
    padding-bottom: 5%;
    font-weight: 300;
    letter-spacing: .7px;

}


footer {
    background-color: #48bbe1;
    text-align:center;
}

footer p {
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: .7px;
    padding-top: 2%;
}

@media only screen and (max-width:600px) {

    header {
        text-align: center;
    }
 
    .topflex {
        justify-content: center;
        padding: 0 15% 0 15%;
    }
 
    .flexbox {
        flex-direction: column;
        align-items: center;
    }
 
    .flexbox img {
        width: 86%;
    }
 
 }
 
 @media only screen and (max-width:400px) {
 
     .topflex {
         flex-direction: column;
         padding: 0 28% 2% 28%;
     }
 
}
 